@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


li {
    list-style: none;
}

/* 

NAVIGATION 

*/


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    max-width: 1200px;
    margin: auto 0;
    height: 100px;
}

#personal-logo {
    width: 60px;
    height: 60px;
}

.nav__link--list {
    display: flex;
    gap: 20px;
}

.nav__link--anchor {
    text-decoration: none;
    color: #551A8B;
    font-weight: 500;
    font-size: 16px;
}

.fa-circle-half-stroke {
    font-size: 18px;
    color: #551A8B;
    cursor: pointer;
}